<div class="px-5">
  <h2>Timeline</h2>
  <div class="row mt-5">
    <div class="col-4">
      <img class="img-left" src="assets/about-first-steps.png"
           alt="An illustrative image that visualizes the beginning of the company"></div>
    <div class="col-8 d-flex">
      <div class="my-auto"><h3>First steps</h3>
        <p>Every great journey begins with a simple idea — ours was to make quality education more accessible, engaging,
          and flexible for everyone, everywhere.</p>

        <p>It all started with a small team of passionate educators, developers, and creatives who believed that
          learning
          shouldn't be limited by location or schedule. We saw the growing need for online learning and set out to build
          a
          platform where students could thrive, not just pass. In the early days, our first virtual classrooms were
          humble, but they were filled with energy, purpose, and a deep commitment to our learners.</p>

        <p>From late-night planning sessions to our very first course launch, every step we took was driven by the goal
          of
          empowering students through technology. We listened closely to our learners, refined our tools, and embraced
          innovation at every turn.</p>

        <p>These first steps laid the foundation for everything we are today — and we're just getting started.</p></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8 d-flex">

      <div class="my-auto"><h3>Rooted in Education, Grown Through Collaboration</h3>
        <p>At the heart of everything we do is a deep respect for education — not just as a system, but as a lifelong
          journey. We believe that learning flourishes in supportive, inclusive environments where curiosity is
          encouraged
          and creativity is celebrated. That’s why we’re committed to building not just great courses, but a strong,
          collaborative community around them.</p>

        <p>From day one, we’ve worked side by side with educators, students, and partners, valuing every voice and
          perspective. Whether we’re designing a new feature, launching a course, or solving a challenge, we approach it
          as
          a team — because we know real progress comes from working together. Education is more than content; it’s
          connection. And that’s what we’re here to nurture.</p></div>

    </div>
    <div class="col-4">
      <img class="img-right" src="assets/carousel-sample.png"
           alt="An illustrative image that visualizes the beginning of the company"></div>
  </div>
</div>
<br>
