<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" class="" *ngFor="let header of headers">
        <div class="d-flex"><span>{{ header.title }}</span>
          <app-filter-dropdown *ngIf="header.button_id" (sort)="sort($event)" [button_id]="header.button_id"
                               class="ms-auto"></app-filter-dropdown>
        </div>
      </th>
    </tr>
    </thead>
    <tbody *ngIf="classrooms().length > 0">
    <tr *ngFor="let classroom of classrooms()" (click)="openClassroom(classroom)"
        [class.table-deleted-row]="classroom.deleted_at !== null">
      <th scope="row">{{ classroom.id }}</th>
      <td>{{ classroom.name }}</td>
      <td>{{ getCourseById(classroom.course_id)?.name }}</td>
      <td>{{ classroom.number_of_sessions }}</td>
      <td>{{ classroom.expected_session_duration }}</td>
      <td>{{ classroom.created_at | date }}</td>
      <td>{{ classroom.deleted_at === null ? 'False' : 'True' }}</td>
      <td>
        <button (click)="$event.stopPropagation(); onDelete(classroom.id)"
                [class]="'btn p-1 ' + (classroom.deleted_at === null ? 'btn-outline-danger' : 'btn-outline-light')">
          <svg *ngIf="classroom.deleted_at === null, else Restore" xmlns="http://www.w3.org/2000/svg" width="20"
               height="20"
               fill="currentColor" class="bi bi-trash"
               viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
          <ng-template #Restore>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-recycle pt-0"
                 viewBox="0 0 16 16">
              <path
                d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244z"/>
            </svg>
          </ng-template>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="classrooms().length === 0" class="text-center">
    <p>No data found</p>
  </div>
</div>

