<a routerLink="/admin-teachers" style="text-decoration: auto">
  <p>
    <svg style="margin: -3px -4px 0 3px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
         class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path
        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
    Teachers
  </p>
</a>


<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>{{ user.first_name + ' ' + user.last_name }}</h2>
      <p class="mb-1 mt-3"><strong>Nationality:</strong> {{ user.nationality }}</p>
      <p class="mb-1 "><strong>Birthdate:</strong> {{ user.birthdate | date }}</p>
      <p class="mb-1 "><strong>Gender:</strong> {{ user.gender }}</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex">
        <h3 class="me-2">Courses</h3>
        <div class="ms-auto d-flex">
          <input id="assign-course-input" class="form-control" list="available-courses" placeholder="Assign to course...">
          <datalist id="available-courses">
            <option *ngFor="let course of availableCourses" [value]="course.name">
          </datalist>
          <button id="assign-course-button" class="btn btn-primary ms-1" (click)="assign_to_course()">Assign</button>
        </div>
      </div>
      <app-course-table [courses]="teacherCourses"></app-course-table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h3>Classrooms</h3>
      <app-classroom-table [classrooms]="teacherClassrooms"></app-classroom-table>
    </div>
  </div>
</div>
