<form id="bs-new-course-form" [formGroup]="newCourseForm" (ngSubmit)="onSubmit()" class="needs-validation"
      autocomplete="off" novalidate>
  <div class="container mt-3">
    <div class="row">
      <div [class]="input_col_class">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="course-name-bs-input"
            placeholder="Enter course name here"
            formControlName="name"
            type="text"
            autocomplete="off"
            required
          >
          <label for="course-name-bs-input">Name</label>
          <div class="invalid-feedback">
            {{ get_error('name') }}
          </div>
        </div>
      </div>
      <div [class]="input_col_class">
        <div class="form-floating mb-3">
          <input
            class="form-control"

            id="course-description-bs-input"
            placeholder="Enter description here"
            formControlName="description"
            type="text"
            autocomplete="off"
            required
          >
          <label for="course-description-bs-input">Description</label>
          <div class="invalid-feedback">
            {{ get_error('description') }}
          </div>
        </div>
      </div>
    </div>
    <div>
      <button id="bs-submit-button" type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </div>

</form>
