<app-navbar [navs]="navs" [logout]="true" [is_admin_page]="true"></app-navbar>
<div class="mx-0 mx-md-3">
  <div class="d-flex">
    <input [formControl]="show_deleted_courses" type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
    <label class="btn btn-outline-secondary ms-auto my-1 me-1 btn-sm" for="btn-check-outlined">Show Deleted Courses</label>
    <a
      routerLink="/new-course"
      routerLinkActive="active"
      class="btn btn-outline-primary my-1 me-1 btn-sm"
      role="button"
    >
      New Course
    </a>
  </div>
  <app-course-table (delete)="soft_delete_course($event)" (refresh)="refresh_the_view()"
                    [courses]="filter_courses()"></app-course-table>
</div>
