.alert-container{
  position: sticky;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 100%;
}

.alert-inner{
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;
  opacity: 90%;
  width: 330px;
}

ion-icon{
  font-size: 24px;
}
