<div class="dropdown">
  <a [id]="button_id()" (click)="toggle()" class="custom-link" data-bs-toggle="dropdown">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
         viewBox="0 0 16 16">
      <path
        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
    </svg>
  </a>
<!--  <button [id]="button_id()" (click)="toggle()" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--    Dropdown button-->
<!--  </button>-->
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">Sort</h6></li>
    <li><a class="dropdown-item" (click)="sort.emit({column:this.button_id(), direction:1})">A-Z</a></li>
    <li><a class="dropdown-item" (click)="sort.emit({column:this.button_id(), direction:-1})">Z-A</a></li>
  </ul>
</div>
