<nav class="navbar bg-body-tertiary" [class.navbar-expand-lg]="expand()" [class.navbar-expand]="!expand()">
  <div class="container-fluid">
    <a class="navbar-brand p-0 d-flex" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/logo.png" alt="Logo" width="36" height="36" class="d-inline-block align-text-top">
      <div class="d-flex flex-column m-0 p-0 ms-2">
        <p class="logo-title logo-title-top">4 Colors</p>
        <p class="logo-title logo-title-bottom">Education Center</p>
      </div>
    </a>
    <button (click)="navbarCollapseToggle()" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0" >
        <li *ngFor="let n of navs(); index as i" [class]="'nav-item ' + (n.dropdown ? 'dropdown' : '')">
          <a
            *ngIf="!n.dropdown; else Dropdown"
            class="nav-link"
            [class.disabled]="n.disabled"
            [class.active]="active_nav() === i"
            routerLink="{{ n.route }}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            {{ n.name }}
          </a>
          <ng-template #Dropdown>
            <a (click)="dropdownToggle()" class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{ n.name }}
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let dn of n.dropdown">
                <a
                  class="dropdown-item"
                  routerLink="{{ dn.route }}"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                >
                  {{ dn.name }}
                </a>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
      <form *ngIf="search()" class="d-flex me-auto mb-3 mb-lg-0" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button *ngIf="login()" class="btn btn-primary" routerLink="/login">Login</button>
      <button *ngIf="profile_page()" class="btn btn-primary" routerLink="/my">{{ userName }}</button>
      <button *ngIf="logout()" class="btn btn-outline-danger" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
