.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-component-container {
  overflow: auto;
  height: calc(100vh - 56px);
}

.table-deleted-row {
  --bs-table-bg: rgba(255, 0, 0, 0.3);
}

